<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <configSections>
    </configSections>
    <connectionStrings>
        <add name="EasyGestReports.My.MySettings.EasyGest" connectionString="Data Source=CHENZHANG-PC;Initial Catalog=EasyGest;Persist Security Info=True;User ID=easygest;Password=eg2016"
            providerName="System.Data.EntityClient" />
    </connectionStrings>
</configuration>